@charset "utf-8";

@import "reset";
@import "header";
@import "hero";
@import "font";
@import "point";
@import "service";
@import "flow";
@import "member";
@import "faq";
@import "contact";
@import "company";
@import "footer";


html {
  font-size: 62.5%;
  width: 100%;
}

body {
  font-size: 1.6em;
  color: $black;
  font-family: "游ゴシック", "YuGothic", sans-serif;
  letter-spacing: 0.1em;
}

main {
  width: 100%;
}



.bg-line {
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  

  &-inner {
    display: flex;
    justify-content: space-between;
    
    padding-left: 7.8125vw;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;

    div {
      height: 100%;
      width: 30%;
      border-left: 1px solid rgba(0, 0, 0, 0.06);
      box-sizing: border-box;

      &:last-child {
        width: 7.8125vw;
        box-sizing: border-box;
      }
    }
  }
}




