@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.header-top {
  width: 100%;
  line-height: 4;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 7.8125vw;
}

.header-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .header-title {
    font-size: 32px;
  }
}

.header-hamburger {
  width: 60px;
  text-align: right;
  display: table-cell;
  vertical-align: top;
  margin-right: 7.8125vw;
}

.nav {
  padding: 100px 0;
}

.nav li {
  display: inline-block;
  line-height: 2;
}

.nav-wrap.open {
  display: block;
}

.nav-wrap.close {
  display: none;
}

.content {
  padding: 20px;
}

.nav-wrap {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 10;
  background-color: #222;
  width: 100%;
  height: 100%;
  text-align: center;
}

.nav-wrap .nav {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-wrap li {
  display: block;
  font-family: "Montserrat", sans-serif;
}

.nav-wrap li a {
  color: #fff;
  font-size: 40px;
}

.nav-button,
.nav-button span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.nav-button {
  z-index: 20;
  position: relative;
  width: 35px;
  height: 35px;
}

@media (min-width: 768px) {
  .nav-button {
    width: 60px;
    height: 60px;
  }
}

.nav-button p {
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  position: absolute;
  top: 0;
}

@media (min-width: 768px) {
  .nav-button p {
    font-size: 1.8rem;
  }
}

.nav-button span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #8d8d8d;
  border-radius: 2px;
}

.nav-button span:nth-of-type(1) {
  bottom: -10px;
}

.nav-button span:nth-of-type(2) {
  bottom: 0;
}

.nav-button.active span:nth-of-type(1) {
  -webkit-transform: translateY(-5px) rotate(25deg);
  transform: translateY(-5px) rotate(25deg);
}

.nav-button.active span:nth-of-type(2) {
  -webkit-transform: translateY(5px) rotate(-25deg);
  transform: translateY(5px) rotate(-25deg);
}

.nav-button.active p {
  color: #fff;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 140px;
}

.hero-inner {
  margin-left: 7.8125vw;
  margin-top: -100px;
  position: relative;
}

.hero-img {
  margin-top: -50px;
  width: 100%;
  height: 100vh;
  background-image: url(../img/heroimg.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hero-title-container {
  margin-top: -100px;
}

@media (min-width: 768px) {
  .hero-title-container {
    position: absolute;
    bottom: -120px;
    left: 80px;
  }
}

.hero-title-top {
  display: flex;
  justify-content: space-between;
}

.hero-mail {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.hero-mail a {
  width: 200px;
  background: #222222;
  color: #fff;
  border-radius: 50px;
  padding: 14px 0;
  display: flex;
}

@media (min-width: 768px) {
  .hero-mail a {
    width: 350px;
    background: #222222;
    color: #fff;
    border-radius: 50px;
    padding: 20px 10px;
  }
}

.hero-mail a:hover {
  cursor: pointer;
  opacity: .8;
  transform: scale(0.9, 0.9);
  transition: all .3s;
}

.hero-mail a p {
  margin: 0 auto;
}

.hero-mail a img {
  width: 26px;
}

.hero-arrow {
  position: absolute;
  bottom: 80px;
  left: 20px;
  z-index: 2;
}

.hero .hero-var-txt {
  position: absolute;
  right: 10px;
  top: 50%;
}

.hero .hero-var-txt p {
  color: #222222;
}

.hero-logo {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;
  z-index: 3;
}

@media (min-width: 768px) {
  .hero-logo {
    font-size: 100px;
    line-height: 1;
  }
}

@media (min-width: 768px) {
  .hero-title-top p {
    color: #fff;
    text-stroke: 2px #222222;
    -webkit-text-stroke: 2px #222222;
  }
}

.hero-title-last p {
  color: #fff;
  text-stroke: 1.5px #222222;
  -webkit-text-stroke: 1.5px #222222;
  z-index: 3;
  position: relative;
}

@media (min-width: 768px) {
  .hero-title-last p {
    color: #222222;
    text-stroke: none;
    -webkit-text-stroke: none;
  }
}

.hero-txt {
  font-family: "Montserrat", sans-serif;
  font-size: 4.2rem;
  color: transparent;
  text-stroke: 1.5px #222222;
  -webkit-text-stroke: 1.5px #222222;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .hero-txt {
    display: none;
  }
}

.txtm {
  font-family: "游ゴシック", "YuGothic", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

.txts {
  font-family: "游ゴシック", "YuGothic", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8;
}

.txtxs {
  font-family: "游ゴシック", "YuGothic", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8;
}

.section-title {
  margin: 20px 0;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.section-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #fee757;
  letter-spacing: 0.1rem;
}

@media (min-width: 768px) {
  .section-logo {
    font-size: 60px;
  }
}

.section-txt {
  color: #222222;
  margin-top: 10px;
  font-size: 1.8rem;
}

.bg-txt {
  font-size: 15vw;
  font-family: "Montserrat", sans-serif;
  color: #9fc8da;
  margin-right: 50px;
}

.var-txt {
  writing-mode: vertical-rl;
  transform: scale(-1);
  font-family: din-condensed, sans-serif;
  font-size: 1.2rem;
  color: #fff;
}

.footer-arrow {
  height: 40px;
  width: 1px;
  background-color: #fff;
  position: relative;
  margin-top: 6px;
  margin-left: 9px;
}

.footer-arrow::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 5px 3px;
  border-color: transparent transparent #fff;
  position: absolute;
  top: 0;
  left: -2.6px;
}

.hero-arrow {
  height: 60px;
  width: 1px;
  background-color: #222222;
  position: relative;
  margin-left: -40px;
  z-index: 1;
}

@media (min-width: 768px) {
  .hero-arrow {
    height: 80px;
    width: 2px;
  }
}

.hero-arrow::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: #222222 transparent transparent;
  position: absolute;
  top: 60px;
  left: -2.7px;
}

@media (min-width: 768px) {
  .hero-arrow::before {
    border-width: 10px 6px 0 6px;
    top: 80px;
  }
}

.point-inner {
  background: #aed1e0;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .point-inner {
    padding-top: 400px;
  }
}

.point-inner::before {
  content: "";
  width: 100%;
  height: 400px;
  background: #aed1e0;
  position: absolute;
  top: -400px;
  z-index: -1;
}

.point-inner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 100px 0;
  border-color: transparent transparent #fff transparent;
}

@media (min-width: 768px) {
  .point-inner::after {
    border-width: 0 100vw 200px 0;
    padding-bottom: 100px;
  }
}

.point .section-title {
  text-align: center;
  margin: 50px 0 30px 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .point .section-title {
    top: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}

.point-bg-txt, .point-bg-txt-btm {
  z-index: 1;
}

.point-bg-txt .infinity-slide, .point-bg-txt-btm .infinity-slide {
  display: flex;
  overflow: hidden;
}

.point-bg-txt #slide, .point-bg-txt-btm #slide {
  animation: infinity-loop 10s infinite linear 1s both;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

@keyframes infinity-loop {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(-50vw);
  }
}

@media (min-width: 768px) {
  .point-bg-txt p {
    margin-right: 100px;
  }
}

.point-bg-txt-btm {
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .point-bg-txt-btm {
    display: none;
  }
}

.point-container {
  margin-top: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .point-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px 70px;
  }
}

.point-container li {
  margin: 20px 0 70px 0;
}

.point-container li:last-child {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .point-container li {
    width: 33%;
    margin: 0 50px;
  }
}

.point-container li img {
  width: 24%;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .point-container li img {
    width: 50%;
  }
}

.point-imgsp {
  text-align: right;
  position: relative;
  z-index: 1;
  padding-left: 7.8125vw;
}

@media (min-width: 768px) {
  .point-imgsp {
    display: none;
  }
}

.point-imgsp img {
  width: 100%;
  height: auto;
}

.point-imgpc {
  text-align: right;
  position: relative;
  z-index: 1;
  padding-left: 7.8125vw;
}

@media (max-width: 767px) {
  .point-imgpc {
    display: none;
  }
}

.point-imgpc img {
  width: 100%;
  height: auto;
}

.point-img-txt {
  padding-right: 7.8125vw;
  padding-left: 7.8125vw;
}

@media (min-width: 768px) {
  .point-img-txt {
    margin-top: 50px;
  }
}

.point-img-txt-inner .txts {
  font-size: 16px;
}

@media (min-width: 768px) {
  .point-img-txt-inner .txts {
    width: 60%;
    font-size: 21px;
    line-height: 2.3;
    letter-spacing: 0.2rem;
  }
}

.point-img-txt .marker {
  background: linear-gradient(transparent 50%, pink 100%);
}

.service {
  padding-top: 150px;
  margin-bottom: 150px;
  position: relative;
}

@media (min-width: 768px) {
  .service {
    padding-top: 200px;
  }
  .service::after {
    content: '';
    position: absolute;
    bottom: -370px;
    right: 0;
    width: 60%;
    height: 220px;
    background: #fff;
    z-index: 3;
  }
}

.service h2 {
  text-align: center;
}

@media (min-width: 768px) {
  .service h2 {
    width: 85%;
    margin: 0 auto;
    text-align: left;
  }
}

.service-img {
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .service-img {
    display: flex;
    align-items: flex-start;
  }
}

.service-img img {
  width: 100vw;
  height: auto;
}

@media (min-width: 768px) {
  .service-img img {
    width: 50%;
    margin-top: 40px;
  }
}

.service-txt {
  padding-right: 7.8125vw;
  padding-left: 7.8125vw;
  margin-top: 28px;
  margin-bottom: 28px;
}

@media (min-width: 768px) {
  .service-txt {
    width: 50%;
    margin-top: 220px;
    margin-left: -80px;
    padding: 0;
  }
}

.service-txt .txtm {
  margin-bottom: 10px;
}

.service-txt .txts {
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .service-txt .txts {
    font-size: 18px;
  }
}

.service-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  padding-right: 7.8125vw;
  padding-left: 7.8125vw;
}

@media (min-width: 768px) {
  .service-container {
    flex-wrap: nowrap;
    margin-top: 60px;
  }
}

.service-content {
  width: 45%;
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .service-content {
    width: 20%;
  }
}

.service-content .txtm {
  font-size: 21px;
}

.service-content img {
  width: 40%;
  margin: 12px 0;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .service-content img {
    width: 30%;
  }
}

.service-pc-list li {
  line-height: 2;
  position: relative;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}

.service-pc-list li::before {
  content: url("../img/list-mark.svg");
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translate(-50%, -50%);
  font-size: 6px;
}

.service-pc-list li img {
  width: 10px;
  position: relative;
}

@media (max-width: 767px) {
  .service-pc-list {
    display: none;
  }
}

.service-imgbtm {
  margin: 100px 0 30px 0;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .service-imgbtm {
    padding-right: 7.8125vw;
    padding-left: 7.8125vw;
    margin-top: 150px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.service-imgbtm p {
  align-items: center;
  z-index: 1;
  width: 90%;
  margin: 0 auto;
  margin-top: -32px;
}

.service-imgbtm img {
  width: 100%;
}

@media (min-width: 768px) {
  .service-imgbtm img {
    width: 50%;
    margin-left: -100px;
  }
}

.service-logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  color: #fff;
  text-stroke: 1.5px #fee757;
  -webkit-text-stroke: 1.5px #fee757;
}

@media (min-width: 768px) {
  .service-logo {
    font-size: 220px;
  }
}

.service-txtinner {
  padding-right: 7.8125vw;
  padding-left: 7.8125vw;
  text-align: left;
}

@media (min-width: 768px) {
  .service-txtbtm {
    margin-top: 30px;
    width: 60%;
  }
}

.service-txtbtm .txtm {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .service-txtbtm .txtm {
    margin-bottom: 40px;
  }
}

.flow {
  background: #2a84ac;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

.flow::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #aed1e0;
  height: 150px;
  width: 100%;
  z-index: 2;
}

.flow-inner {
  padding-left: 7.8125vw;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .flow-inner {
    padding-left: 7.8125vw;
  }
}

.flow .section-title {
  text-align: left;
}

@media (min-width: 768px) {
  .flow .section-title {
    margin-bottom: 80px;
  }
}

.flow .section-txt {
  color: #fee757;
  font-weight: normal;
}

.flow-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 3;
}

@media (min-width: 768px) {
  .flow-container {
    flex-wrap: nowrap;
  }
}

.flow-container li {
  flex-grow: 1;
  padding: 30px 20px;
  background: #fff;
  position: relative;
}

.flow-container li:nth-child(2) {
  background: #f5f5f5;
}

.flow-container li:nth-child(3) {
  background: #dddddd;
}

.flow-container li:nth-child(4) {
  background: #d0d0d0;
}

.flow-container .flow-step {
  text-align: center;
  line-height: .8;
}

.flow-container .step-top, .flow-container .step-btm {
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: transparent;
  text-stroke: 1.5px #aaaaaa;
  -webkit-text-stroke: 1.5px #aaaaaa;
}

.flow-container .step-top {
  font-size: 72px;
}

@media (min-width: 768px) {
  .flow-container .step-top {
    font-size: 110px;
  }
}

.flow-container .step-btm {
  font-size: 140px;
}

@media (min-width: 768px) {
  .flow-container .step-btm {
    font-size: 200px;
  }
}

.flow-container .step-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.member {
  background: #aed1e0;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

@media (min-width: 768px) {
  .member {
    padding-bottom: 200px;
  }
}

.member-inner {
  margin-right: 7.8125vw;
  margin-left: 7.8125vw;
}

@media (min-width: 768px) {
  .member-inner {
    display: flex;
    justify-content: space-between;
  }
}

.member .section-title {
  margin-right: 7.8125vw;
  margin-left: 7.8125vw;
  text-align: left;
  margin-bottom: 30px;
}

.member .section-txt {
  color: #fee757;
}

.member-img {
  width: 100%;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .member-img {
    width: 50%;
  }
}

.member-img img {
  width: 100%;
}

.member-txt {
  margin-top: 30px;
  color: #fff;
  width: 100%;
}

@media (min-width: 768px) {
  .member-txt {
    width: 40%;
    margin-top: 0;
  }
}

.member-txt .txtm {
  margin-bottom: 20px;
}

.faq {
  margin-top: 150px;
  margin-bottom: 100px;
}

.faq-inner {
  margin-right: 7.8125vw;
  margin-left: 7.8125vw;
}

.faq .section-title {
  text-align: left;
}

.faq-container {
  margin: 40px 0 100px 0;
  font-weight: bold;
}

.faq-content {
  border-bottom: 2.8px solid #8e8e8e;
  line-height: 3.5;
  padding: 0 10px;
}

.faq-content:nth-child(even) {
  background: #e8e8e8;
  position: relative;
  z-index: 2;
}

.faq dt.question {
  position: relative;
}

.faq dt.question::after {
  content: '+';
  position: absolute;
  top: 0;
  right: 10px;
}

.faq dt.question.click::after {
  content: '-';
}

.faq dt.question:hover {
  cursor: pointer;
}

.faq dd.answer {
  display: none;
  line-height: 2;
  margin-bottom: 10px;
  padding-left: 1em;
  text-indent: -1em;
}

.contact {
  background: #2a84ac;
  padding-top: 100px;
  position: relative;
  z-index: 2;
}

.contact-inner {
  margin-right: 7.8125vw;
  margin-left: 7.8125vw;
}

.contact .section-title {
  text-align: left;
}

.contact .section-txt {
  color: #fee757;
}

.contact .text-wrap, .contact .textarea-wrap {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .contact .textarea-wrap {
    margin-bottom: 32px;
  }
}

.contact input[type='text'] {
  width: 100%;
  max-width: 500px;
  line-height: 3;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact input[type='email'] {
  width: 100%;
  max-width: 500px;
  line-height: 3;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact input[type='tel'] {
  width: 100%;
  max-width: 500px;
  line-height: 3;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact textarea {
  width: 100%;
  height: 200px;
  padding: 20px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact input[type='submit'] {
  border: none;
  display: block;
  width: 100%;
  padding: 16px;
  border-radius: 30px;
  background: #fecf07;
  color: #222222;
  font-size: 18px;
  letter-spacing: 0.5rem;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contact input[type='submit'] {
    padding: 28px;
    border-radius: 58px;
  }
}

.company {
  background: #2a84ac;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .company {
    padding-top: 200px;
    padding-bottom: 300px;
  }
}

.company-inner {
  margin-left: 7.8125vw;
}

.company .section-title {
  text-align: left;
}

.company table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px 0;
  background: #fff;
  font-weight: bold;
  padding: 10px;
}

@media (min-width: 768px) {
  .company table {
    font-size: 21px;
    padding: 100px;
    border-spacing: 50px 0;
  }
}

.company td {
  padding: 16px 0;
  display: table-cell;
  line-height: 2;
}

@media (min-width: 768px) {
  .company td {
    line-height: 2.8;
  }
}

.company-data {
  text-align: right;
  width: 14%;
  border-bottom: 1px solid #d0d0d0;
}

.company-data:last-child {
  border-bottom: none;
}

.company-content {
  width: 86%;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.company tr:last-child td {
  border-bottom: none;
}

.foot-inner {
  background: #222222;
  padding: 30px 30px 30px 0;
}

@media (min-width: 768px) {
  .foot-inner {
    padding: 60px 60px 60px 0;
  }
}

.foot-inner .var-txt {
  margin-left: 4px;
}

.foot-inner .foot-txt {
  font-family: din-condensed, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: right;
}

@media (min-width: 768px) {
  .foot-inner .foot-txt {
    font-size: 24px;
  }
}

html {
  font-size: 62.5%;
  width: 100%;
}

body {
  font-size: 1.6em;
  color: #222222;
  font-family: "游ゴシック", "YuGothic", sans-serif;
  letter-spacing: 0.1em;
}

main {
  width: 100%;
}

.bg-line {
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.bg-line-inner {
  display: flex;
  justify-content: space-between;
  padding-left: 7.8125vw;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
}

.bg-line-inner div {
  height: 100%;
  width: 30%;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
}

.bg-line-inner div:last-child {
  width: 7.8125vw;
  box-sizing: border-box;
}
